html {
      font-size: 62.5%;
      box-sizing: border-box;
    }

    *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }

    .calculator {
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
    }

    .calculator-screen {
      width: 100%;
      font-size: 4rem;
      height: 150px;
      border: none;
      background-color: #252525;
      color: #fff;
      text-align: right;
      padding-right: 15px;
      padding-left: 10px;
    }

    button {
      outline: none;
      height: 45px;
      border-radius: 5px;
      border: 1px solid #252525;
      background-color: #252525;
      font-size: 1.5em;
      color: #fff;
    }
   button:hover{
      font-size:2em;
   }

    .calculator-keys {
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      padding: 10px;
    }

    .operator,.decimal,.undo, .equal-sign,.space, .clear {
      background: #006666;
    }

    /*rotate the button to get exact symbol for undo*/
    .undo {
      transform: rotate(180deg);
    }
