*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:#333333;
    height:100vh;
    width:100vw;
    position: relative;
}

.calculator{
    border:1px solid white;
    height:70%;
    width:20%;  /* percentages for easy resizing and responsive atleast */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%); /* to perfectly center it */
}

.screen{
    height:25%;
    background:transparent; /* if case of any change of color taste by designers */
    position:relative;
}

.result{
    color:white;
    font-size:1.5rem;
    font-weight:bold;
    letter-spacing: 2px;
    line-height: 0.5px;
    position:absolute;
    bottom:2rem;
    right:1rem;
}

.touch{
    background: #000000;
    height:calc(100% - 25%);
    display:grid;
    grid-template-rows:repeat(5, 1fr);
    padding:2px;
}

.touch div {
    display:flex;
    justify-content: space-between;
    margin:5px;
}

.touch div button{
    width:3.7rem;
    border-radius:6px;
    outline:none;
    border:none;
    cursor:pointer;
    background-color:#2b2828;
    color:white;
    font-size:1rem;
}

.touch div button:hover{
    background-color:#1f1d1d;
}

.touch div button:active{
    background:#065357
}

#color{
    background:#065357;
}

.touch div #color:active{
    background:#064757
}